* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
}

@keyframes aparecerYDesplazar {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes DesplazarAbajo {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(100%);
    }
}

@keyframes aparecerYDerecha {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

@keyframes DesplazarDerecha {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
}

@keyframes Glow {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
        transform: scale(1);
      }
}

body {
    background: url(../assets/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#mainIndex {
    animation: aparecerYDesplazar 2s ease-in-out;
    width: 80vw;
    height: 80vh;
    background-color: #0076b651;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sectionIndex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}

#titleIndex {
    color: aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

#pIndex {
    font-size: 1rem;
    color: white;
}

#aIndex img {
    width: 40%;
    margin: 0 30%;
}
#quiz {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nombre {
    animation: aparecerYDesplazar 2s ease-in-out;
    width: 80vw;
    height: 80vh;
    background-color: #0076b651;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}

#titleQuiz {
    color: aliceblue;
    font-size: 1.5rem;
    text-align: center;
}

label[for="user"] {
    color: aliceblue;
}

.par {
    font-size: 1rem;
}

.button {
    color: aliceblue;
    background-color: #1982c4;
    font-size: 15px;
    padding: 10px;
    margin: 0 35%;
    border-radius: 50%;
}

.button:hover {
    cursor: pointer;
}

#parrafo {
    color: #ef476f;
    font-size: 15px;
}

#test {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titleContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

#title {
    color: aliceblue;
    text-align: center;
    z-index: 2;
    margin-top: 20%;
}

#radio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

#radio label {
    height: 20vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#radio label:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#radio input {
    display: none;
}

.answer0 {
    background-color: #f58549;
}

.answer1 {
    background-color: #ffca3a;
}

.answer2 {
    background-color: #1982c4;
}

.answer3 {
    background-color: #6a4c93;
}

.red {
    background-color: #ef476f;
}

.green {
    background-color: #06d6a0;
}

#end {
    color: aliceblue;
    width: 80vw;
    height: 80vh;
    background-color: #0076b651;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center; 
}

#cronometro {
    position: fixed;
    padding: 10px 20px;
    color: aliceblue;
    background-color: rgb(90, 90, 90);
    border-radius: 20px;
    bottom: 2%;
    right: 2%;
    z-index: 1;
}

#sectionScore {
    color: aliceblue;
    animation: aparecerYDesplazar 2s ease-in-out;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.score {
    top: 100px;
    text-align: center;
}

#scoreBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: Glow 2s ease-in-out infinite;
    margin: 0 0 10% 0;
}

#imageFinal {
    width: 40%;
    margin: 0 30% 2% 30%;
}

table {
    color: black;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-collapse: collapse;
}

th {
    width: 40vw;
    text-align: center;
    background-color: dimgrey;
    border: 1px solid black;
}

td {
    width: 40vw;
    text-align: center;
    background-color: beige;
    border: 1px solid black;
}

.darker {
    background-color: rgb(189, 189, 169);
}

aside {
  position: fixed;
  top: 2%;
  right: 2%;
  color: white;
  display: flex;
  flex-direction: column;
}

#aScore {
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  color: white;
  background-color: #1a7b93;
  font-size: 1rem;
}

.mute {
    color: white;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: #1a7b93;
    font-size: 1rem;
    position: fixed;
    bottom: 2%;
    left: 2%;
}

.mute:hover {
    cursor: pointer;
}

.hide {
    visibility: hidden;
}

@media screen and (min-width: 500px) and (max-width: 768px) {
    html {
      font-size: 20px;
    }  
  }
  
  @media screen and (min-width: 768px) and (max-width: 1366px) {
      html {
          font-size: 25px;
      }
      #titleContainer {
        height: 40vh;
      }
      #title {
        margin-top: -10%;
      }
      #radio {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: -100px;
      }
      #radio label {
        margin: 1%;
        height: 15vh;
        width: 40vw;
      }
      #cronometro {
        bottom: 90%;
        top: 2%;
      }
  }
  
  @media screen and (min-width: 1366px) {
      html {
          font-size: 30px;
      }
      #titleContainer {
        height: 40vh;
      }
      #title {
        margin-top: -10%;
      }
      #radio {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: -100px;
      }
      #radio label {
        margin: 1%;
        height: 20vh;
        width: 40vw;
      }
      #cronometro {
        bottom: 90%;
        top: 2%;
      }
  }